<div class="nav-bar">
  <header
    class=" headerclass d-flex justify-content-center justify-content-md-between py-2 border-bottom">
    <div class="col-md-1 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    </div>

    <ul class="nav">
      <li>
        <a href="/home-page" class="nav-link" style="font-size: 1rem; color:white;">Home</a>
      </li>
      <li *ngIf="LogOut">
        <a href="/visualizer" class="nav-link" style="font-size: 1rem; color:white;">Visualizer</a>
      </li>
      <li *ngIf="LogOut">
        <a href="/my-profile" class="nav-link" style="font-size: 1rem; color:white;">My Profile</a>
      </li>
      <li>
        <a href="/about-us" class="nav-link" style="font-size: 1rem; color:white;">About</a>
      </li>
      <li>
        <a href="/contact-us" class="nav-link" style="font-size: 1rem; color:white;">Contact</a>
      </li>
    </ul>

    <div class="authbuttons">
      <a href="/auth/login" *ngIf="!LogOut" class="login btn">Login</a>
      <a href="/auth/register" *ngIf="!LogOut" class="register btn">Sign-up</a>
      <div class="logout-button" *ngIf="LogOut">
        <button class="logout btn" (click)="logout()" style="font-size: 1rem;">Logout</button>
      </div>
    </div>
  </header>
</div>