<app-header></app-header>
<div class="card shadow-sm p-5">
  <div *ngIf="user">
    <div class="row justify-content-center mb-4">
      <div class="col-auto">
        <h1>Profile Information</h1>
      </div>
    </div>
    <hr>
    <p>Name: {{ user.fullName }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Role: {{ user.role }}</p>
    <p>Is Email Verified: {{ user.isEmailVerified }}</p>
    <p>Company Name: {{ user.companyName }}</p>
  </div>
  <div *ngIf="!user">
    <h4 class="text-danger text-center">Please log in to view your profile.</h4>
  </div>

</div>


